<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apple</title>
    <link rel=" stylesheet" href="homestylr.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
  </head>
  <body>
    <header class="header">
        <div class="internal">
            <div class="link">
            <nav>
                <ul>
                    <li class="home"><a href=""><img src="apple-html-css-replica/images/icons/logo.png" alt="Apple-logo"></a></li>
                    <li><a href="https://www.apple.com/us/shop/goto/store">Store</a></li>
                    <li><a href="https://www.apple.com/mac/">Mac</a></li>
                    <li><a href="https://www.apple.com/ipad/">iPad</a></li>
                    <li><a href="https://www.apple.com/iphone/">iPhone</a></li>
                    <li><a href="https://www.apple.com/watch/">Watch</a></li>
                    <li><a href="https://www.apple.com/airpods/">AirPods</a></li>
                    <li><a href="https://www.apple.com/tv-home/">TV & Home</a></li>
                    <li><a href="https://www.apple.com/services/">Only on Apple</a></li>
                    <li><a href="https://www.apple.com/us/shop/goto/buy_accessories">Accessories</a></li>
                    <li><a href="https://support.apple.com/">Support</a></li>
                    <li><a href="search"><img src="apple-html-css-replica/images/icons/search-icon.png" alt="search-icon"></a></li>
                    <li><a href="cart"><img src="apple-html-css-replica/images/icons/cart.png" alt="cart"></a></li>
                </ul>
            </nav>
            </div>
        </div>
    </header>

    <section class="unicef">
        <div class="unicefs">
            <ul>
                <li><img src="pic/Apple-Requirments/Designes/unicef_logo_dark__ejvlglygb3ee_large_2x.png" alt="unicef"></li>
                <li><a href="#" class="help">Donate to support families affected by the war in Ukraine./</a></li>
            </ul>
        </div>
    </section>
    <section class="superpower">
        <h1>iPhone 13</h1>
        <div class="par">
          <p>Your new superpower.</p>
        </div>
        <div class="learn">
          <a href="#" class="learn">Learn more ></a>
          <a href="#" class="learn">Buy ></a>
        </div>
        <div class="image">
          <img src="pic/iPhone 13 Verde Alpino.jpg" alt="" />
        </div>
      </section>
      <section class="Pro">
        <h1>iPhone 13 Pro</h1>
        <div class="par">
          <p>Oh.So.Pro</p>
        </div>
        <div class="learn">
          <a href="#" class="learn">Learn more</a>
          <a href="#" class="learn">Buy ></a>
        </div>
        <div class="image2">
        <img src="pic/download (1) - Copy.jpg" alt="" />
        </div> 
    </section>
      <section class="Mac">
        <h1>Get <span>supercharged</span> for college</h1>
  
        <div class="par">
          <p>Save on Mac or iPad.Plus get a gift card uo to $150.1</p>
        </div>
        <div class="learn">
          <a href="#" class="learn">Shop now ></a>
        </div>
        <div class="image3">
          <img
            src="pic/Apple-Requirments/Designes/hero_bts__bcuslanw39xe_mediumtall.jpg"
            alt=""
          />
        </div>
        <!---OTHER SECTION--->
      </section>

      <section class="fourth">
        <div class="left-side">
            <div class="top-logo">
    
                <div class="logo">
                    <img src="pic/Apple-Requirments/Designes/promo_macbookair__fywl7i82fueu_small.png">
                </div>
            </div>
        </div>
            <h2 class="heading">MacBook Air</h2>
            <div class="description">
              <img src="pic/Apple-Requirments/Designes/logo_promo_macbookair__hy9ktdqqtv2a_large_2x.png" alt="" alt="" width="170" height="40">
            </div>

            <div class="links">
                
                    <a href="">Learn more ></a>
                  <a href="">Buy ></a>
            </div>
        </div>
<!--RIGHT-->
        <div class="right-side">
          <div class="top">
            <div class="logo">
              <img src="pic/Apple-Requirments/Designes/promo_mbp13__buwssod6c8vm_small.jpg">
            </div>
            </div>
          <h2 class="heading1">MacBook Pro 13"</h2>
          <div class="script">
            <img src="pic/Apple-Requirments/Designes/logo_promo_mbp13__gnmug5nsag66_large_2x.png" alt="" width="200" height="60">
          </div>
          <div class="links">
              <a href="">Learn more ></a> 
              <a href="">Buy ></a> 
          </div>
          </div>	
      </section>
  <!--OTHER SECTION ENDED-->

     <!---OTHER SECTION--->
    </section>

    <section class="fourth">
      <div class="left-side">
          <div class="top-logo">
  
              <div class="logo">
                  <img src="pic/Apple-Requirments/Designes/promo_watch_lte__djeaso7ukrsm_medium.jpg" width="800"  height="510">
              </div>
          </div>
          <div class="icon">
            <img src="pic/Apple-Requirments/Designes/promo_logo_watch_lte__emrof7zzkriq_large_2x.png" alt="" width="140"  height="60">
          </div>
          <div class="discript">
            <h3>It's our largest display yet.</h3>
          </div>
          <div class="linked">
              
                  <a href="">Learn more ></a>
                <a href="">Buy ></a>
          </div>
      </div>
<!--RIGHT-->
      <div class="right-side">
        <div class="top-logo">
          <div class="logo">
            <img src="pic/Apple-Requirments/Designes/promo_ipadair_avail__ferd4bfpcdm6_small.jpg" alt="" width="800"  height="510">
          </div>
        </div>
        <div class="icon">
          <img src="pic/Apple-Requirments/Designes/promo_logo_ipadair__frwnnsqveeye_large_2x.png" alt=""  height="60" width="140">
        </div>
        <div class="discripts">
        <h3>Light.Bright.Full of might.</h3>
        </div>
        <div class="linked">
            <a href="">Learn more ></a> 
            <a href="">Buy ></a> 
        </div>	
      </div>
    </section>
<!--OTHER SECTION ENDED-->
<!--footer-->
    

		<footer class="footer">
			<div class="inter"> 
				<div class="text-container">
          1. Qualified Purchasers receive an Apple Gift Card when they purchase an eligible Mac 
          or iPad at a Qualifying Location. Only one Apple Gift Card per eligible Mac or iPad per Qualified Purchaser.
           Offer subject to availability. While supplies last. Qualified Purchasers shall receive a discount equal to the 
           value of the Apple Gift Card off the price of the eligible Mac or iPad, but will be charged for all items in their cart,
            including the Apple Gift Card. Important notice regarding the checkout receipt and monthly statement for Apple
             Card Monthly Installment (ACMI) purchases with this promotion: Qualified Purchasers selecting ACMI 
             (a 0% APR payment option) as payment type at checkout shall receive a discount equal to the value of the
              Apple Gift Card off the price of the eligible Mac or iPad. This will result in one ACMI installment plan over 
              12 months for the eligible iPad or Mac discounted by the instant credit, and a second ACMI installment plan
               over 12 months for the full price of the Apple Gift Card. The total combined amount charged over the two 
               separate ACMI installment plans will reflect the original full retail price of the Eligible Product.
                Separately, Qualified Purchasers will receive and be charged for the Apple Gift Card in the amount of the
                 applicable discount off the eligible Mac or iPad. ACMI is subject to credit approval and credit limit.
                  Variable APRs for Apple Card other than ACMI range from 13.24% to 24.24% based on creditworthiness. 
                  Rates as of August 1, 2022. If you choose the pay‑in‑full or one‑time‑payment option for an 
                  ACMI‑eligible purchase instead of choosing ACMI as the payment option at checkout, that purchase will
                   be subject to the variable APR assigned to your Apple Card. Taxes and shipping are not included in ACMI 
                   transactions and are subject to your standard purchase APR. See the Apple Card Customer Agreement at 
                   <a href="https://www.goldmansachs.com/terms-and-conditions/Apple-Card-Customer-Agreement.pdf"> 
                    https://www.goldmansachs.com/terms-and-conditions/Apple-Card-Customer-Agreement.pdf</a>.
				</div>
				<div class="footer-links"> 
					<div class="links-wrap">
						<h3>Shop and Learn</h3>
						<ul>
							<li><a href="#">Store</a></li>
							<li><a href="#">Mac</a></li>
							<li><a href="#">iPad</a></li>
							<li><a href="#">iPhone</a></li>
							<li><a href="#">Watch</a></li>
							<li><a href="#">AirPods</a></li>
							<li><a href="#">TV & Home</a></li>
							<li><a href="#">AirTag</a></li>
							<li><a href="#">Accessories</a></li>
							<li><a href="#">Gift Cards</a></li>
						</ul>
					</div> 
					<div class="links-wrap2">
						<h3>Services</h3>
						<ul>
							<li><a href="#">Apple Music</a></li>
							<li><a href="#">Apple TV+</a></li>
							<li><a href="#">Apple Fitness+</a></li>
							<li><a href="#">Apple News+</a></li>
							<li><a href="#">Apple Arcade</a></li>
							<li><a href="#">Apple One</a></li>
              <li><a href="#">Apple Card</a></li>
              <li><a href="#">Apple Books</a></li>
              <li><a href="#">Apple Podcasts</a></li>
              <li><a href="#">Apple Store</a></li>
						</ul>
						<h3>Account</h3>
						<ul>
							<li><a href="#">Manage Your Apple ID</a></li>
							<li><a href="#">Apple Store Account</a></li>
							<li><a href="#">iCloud.com</a></li>
						</ul>					
					</div> 
					<div class="links-wrap3">
						<h3>Apple Store</h3>
						<ul>
							<li><a href="#">Find a Store</a></li>
							<li><a href="#">Genius Bar</a></li>
							<li><a href="#">Today at Apple</a></li>
							<li><a href="#">Apple Camp</a></li>
							<li><a href="#">Apple Store App</a></li>
							<li><a href="#">Refurbished and Clearance</a></li>
							<li><a href="#">Financing</a></li>
							<li><a href="#">Apple Trade In</a></li>
							<li><a href="#">Order Status</a></li>
							<li><a href="#">Shopping Help</a></li>
						</ul>
					</div> 
					<div class="links-wrap4">
						<h3>For Business</h3>
						<ul>
							<li><a href="#">Apple and Business</a></li>
							<li><a href="#">Shop for Business</a></li>
						</ul>		
						<h3>For Education</h3>
						<ul>
							<li><a href="#">Apple and Education</a></li>
              <li><a href="#">Shop for K-12</a></li>
							<li><a href="#">Shop for College</a></li>
						</ul>
						<h3>For Healthcare</h3>
						<ul>
							<li><a href="#">Apple in Healthcare</a></li>
							<li><a href="#">Health on Apple Watch</a></li>
							<li><a href="#">Health Records on iPhone</a></li>
						</ul>	
						<h3>For Government</h3>
						<ul>
							<li><a href="#">Shop for Government</a></li>
							<li><a href="#">Shop for Veterans and Military</a></li>
						</ul>
					</div> 

					<div class="links-wrap5">
						<h3>Apple Values</h3>
						<ul>
							<li><a href="#">Accesacbility</a></li>
							<li><a href="#">Education</a></li>
							<li><a href="#">Enviroment</a></li>
							<li><a href="#">Inclusion and Diversity</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Racial Equity and Justice</a></li>
              <li><a href="#">Suplier Responsibilty</a></li>
						</ul>
						<h3>About Apple</h3>
						<ul>
							<li><a href="#">Newsroom</a></li>
							<li><a href="#">Apple Leadership</a></li>
							<li><a href="#">Career Opportunities</a></li>
							<li><a href="#">Investors</a></li>
							<li><a href="#">Ethics & Compliance</a></li>
							<li><a href="#">Events</a></li>
              <li><a href="#">Contact Apple</a></li>
						</ul>						
					</div> 
				</div>
				<div class="my-apple"> 
					More ways to shop: <a href="#">Find an Apple Store</a> or <a href="#">other retailer</a> near you. Or call 1-800-MY-APPLE.
				</div>
				<div class="copyright-wrap">
					<div class="copyright">
						Copyright © 2022 Apple Inc. All rights reserved.
					</div>
					<div class="footer-terms">
						<ul>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Sales and Refunds</a></li>
							<li><a href="#">Legal</a></li>
							<li><a href="#">Site Map</a></li>
						</ul>
					</div>
					<div class="country">
				<div class="country-name">United States</div> 
					</div>
				</div>
			</div>
		</footer> 
  </body>
</html>
